# watsonx Orchestrate
ORCHESTRATE_API_URL=
ORCHESTRATE_API_KEY=
ORCHESTRATE_INSTANCE_ID=
ORCHESTRATE_SKILL_ID=

# Tavily Search
TAVILY_API_KEY=

# IBM Text to Speech
TTS_API_URL=
TTS_API_KEY=
TTS_DEFAULT_VOICE=en-US_AllisonV3Voice

# App config
TOPIC_CONTENT_DIR=./content/topics
