# watsonx Orchestrate
ORCHESTRATE_INSTANCE_URL=
ORCHESTRATE_API_KEY=
ORCHESTRATE_AGENT_ID=
ORCHESTRATE_IAM_URL=https://iam.platform.saas.ibm.com

# Tavily Search
TAVILY_API_KEY=

# IBM Text to Speech
TTS_API_URL=
TTS_API_KEY=
TTS_DEFAULT_VOICE=en-US_AllisonV3Voice

# App config
TOPIC_CONTENT_DIR=./content/topics
